.rayure {
    background: repeating-linear-gradient(
        45deg,
        blue,
        blue 10px,
        lightblue 10px,
        lightblue 20px
    );
}

.animbloc1{
    animation: float 1s infinite;
}

.animbloc2{
    animation: color 1s infinite;
}

@keyframes color{
    to{
        background-color: red;
    }
}

@keyframes float{
    to{
        transform: translateX(5px) translateY(5px);
    }
}